{
  "extends": eslint:recommended,
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "rules": {
    "semi": "off"
  },
  root: false,
  env: {
    browser: true
  },
  "globals": {
    "d3": true,
    "L": true
  }
}