.user-input {
	margin-bottom: 15px;
	.title {
		font-size: 14px;
		color: #424242;
		font-weight: bold;
		margin-bottom: 10px;
	}

	.content {
		border-bottom: 3px solid #42C4F5;
		display: flex;
		.input {
			width: calc(100% - 20px);
		}

		.icon {
			>span {
				width: 17px;
				height: 13px;
				display: inline-block;
				cursor: pointer;
			}
		}
	}
}