.drop-down {
	position: relative;
	text-align: center;
	.menu {
		.selected_val {
			display: inline-block;
			font-weight: bold;
			width: calc(100% - 25px);
		}
		.ico {
			display: inline-block;
			width: 25px;
			float: right;
		}
		.ico-rotate {
			transform: rotate(180deg)
		}
	}

	.drop-down-content {
		width: 100%;
		position: absolute;
		z-index: 2;
		.list {
			cursor: pointer;
			span {
				line-height: 30px;
			}
		}
	}
}