<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>es6-practice</title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <div class="application" id="app">

    </div>
    <div class="choice-zone" id="choice-zone" v-cloak>
      <div class="price">
        <span>价格：</span>
        <span v-if="selected">{{selectedPrice}}</span>
        <span v-else>{{stock_groups2.minPrice}}~{{stock_groups2.maxPrice}}</span>
      </div>
      <div class="colors">
        <span>颜色：</span>
        <div class="color" v-for="color in stock_groups2.colors" :id="color" @click="checkRemainingOptions($event, color, 'color')">
          <span>{{color}}</span>
        </div>
      </div>
      <div class="sizes">
        <span>尺寸：</span>
        <div class="size" v-for="size in stock_groups2.sizes" :id="size" @click="checkRemainingOptions($event, size, 'size')">
          <span>{{size}}</span>
        </div>
      </div>
      <div class="types">
        <span>厚度：</span>
        <div class="type" v-for="type in stock_groups2.types" :id="type" @click="checkRemainingOptions($event, type, 'type')">
          <span>{{type}}</span>
        </div>
      </div>
      <div class="nums-and-stocks">
        <div class="minus" @click="reduce">
          <span>-</span>
        </div>
        <div class="nums">
          <input type="text" name="" value="1" id="nums" @change="checkNum" v-model="buyNums">
        </div>
        <div class="plus" @click="addMore">
          <span>+</span>
        </div>
        <div class="stocks">
          <span>库存{{selectedStocks}}件</span>
        </div>
      </div>
      <div class="buynow">
        <button type="button" name="button"
        :disabled="!hasStock"
        :class="{hasStock: hasStock}"
        @click="buyNow">
        立即购买
      </button>
    </div>
      <div class="addtocart">
        <button type="button" name="button"
        :disabled="!hasStock"
        :class="{hasStock: hasStock}"
        @click="addToCart">
        加入购物车
      </button>
      </div>
      <div class="refresh">
        <button type="button" name="button" @click="getNewData">刷新数据</button>
      </div>
    </div>
    <script src="https://google.github.io/traceur-compiler/bin/traceur.js"></script>
    <script src="https://google.github.io/traceur-compiler/bin/BrowserSystem.js"></script>
    <script src="https://google.github.io/traceur-compiler/src/bootstrap.js"></script>
    <script src="src/js/vue.js"></script>
    <script src="index.js"></script>
  </body>
</html>
