html{
  margin: 0;
  padding: 0;
  font-size: 16px;
}
#app{
  text-align: center;
  font-size: 2rem;
  margin-bottom: 50px;
}
#choice-zone{
  width: 600px;
  margin: auto;
  font-size: 1rem;
}
.colors>div, .sizes>div, .types>div{
  display: inline-block;
  width: 70px;
  height: 40px;
  background-color: #fcfcfc;
  border: 1px solid #000;
  text-align: center;
  margin-right: 20px;
  cursor: pointer;
}
.colors>div>span, .sizes>div>span, .types>div>span{
  line-height: 40px;
}
#choice-zone>div{
  margin-bottom: 20px;
}
.price span:not(:first-child){
  color: orangered;
  font-size: 1.5rem;
}
[v-cloak] {display: none;}
.buynow, .addtocart, .refresh{
  display: inline-block;
  margin-left: 10px;
}
button{
  background-color: grey;
  border:1px solid transparent;
  color: #fff;
  text-align: center;
  padding: 5px 8px;
  cursor: pointer;
  height: 35px;
}
.refresh>button{
  background-color: orangered;
}
.hasStock{
  background-color: orangered;
}
.nums-and-stocks{
  display: block;
}
.nums-and-stocks>div{
  display: inline-block;
  float: left;
  border: 1px solid #ddd;
  box-sizing: border-box;
  text-align: center;
  height: 35px;
  width: 30px;
}
.minus>span, .plus>span{
  line-height: 35px;
  font-weight: bolder;
  cursor: pointer;
}
.nums{
  width: 70px !important;
}
.nums>input{
  background-color: transparent;
  border: none;
  outline: none;
  height: 35px;
  text-align: center;
  width: 100%;
}
.stocks{
  width: auto !important;
  border: none !important;
  margin-left: 10px;
}
.stocks>span{
  line-height: 35px;
  font-size: 0.9rem;
  color: #bbb;
}
